<% if (slide.textSections) {

    slide.textSections.forEach(function(d) { %>
    <div class="text">
    <div class="content">
      <%= t.renderMarkdown(d.text) %>
    </div>
    <% if (d.caption) { %>
    <div class="caption">
      <span class="sr-only">Caption:</span> <%= d.caption %>
    </div>
   
    <% } %>
 </div>
  <% }) } else if (slide.text) { %>
  <div class="text">
    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
    </div>
    <% if (slide.caption) { %>
    <div class="caption">
      <span class="sr-only">Caption:</span> <%= slide.caption %>
    </div>
    </div>
    <% } %>

  <% } else { %>
    <div class="scroll-bug" aria-hidden="true">
      scroll
      <svg viewBox="0 0 50 50" width="50" height="25">
        <path
        d="M 0,0 L 25,25 50,0"
        ></path>
      </svg>
    </div>
  <%} %>