@import "values";

@keyframes grow-in {
  from {
    transform: scaleX(.3);
    transform: scaleY(.3);
    fill-opacity: 0;
  }
  to {
    transform: scaleX(1);
    transform: scaleY(1);
    fill-opacity: 0.7;
  }
}

path {
  &.flood {
    fill: #3a745d;
    stroke-width: 1px;
    stroke: none;
  }

  &.levee {
    stroke: #fff;
  }
}

.water-label, .place-label {
  font-weight: 500;
  color: #fff;
  text-anchor: left;

  &.on-background {
    color: #fff;
    text-shadow: 0 0 2px #333;
  }
}

.parcels {
  stroke-width: .5px;
  fill-opacity: .8;
  &.google {
    fill: @google;
    stroke: @google;
  }

  &.fb {
    fill: @facebook;
    stroke: @facebook;
  }
}

.east-palo-alto {
  stroke: #fff;
  stroke-width: .5px;
  fill: #eee;
  fill-opacity: .4;
}

.belle-haven {
  stroke: #aaa;
  stroke-width: .5px;
  fill: #ccc;
  fill-opacity: .4;
}

path.flood {
      animation-name: grow-in;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-play-state: inherit;
      fill-opacity: 0.7;
  }