@import "values";

@keyframes wave-effect {
  from {
    fill: url(#wave3);
  }
  to {
    fill: url(#wave2);
  }
}

// Base map styles
#base-map {
  z-index: 100;
  position: relative;
  clear: right;
  position: fixed;
  overflow: hidden;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  animation: none;
  opacity: 0;

  &.active {
    animation: fade-in 0.2s linear;
    opacity: 1;
  }

  &.exiting {
    animation: fade-out 0.2s linear;
    opacity: 0;
  }
}

// Style leaflet tiles to help layers pop.
.leaflet-tile-container {
  filter: contrast(110%) brightness(0.65);
}

// Asset path styles
path {
  &.flood {
    fill-opacity: 0.45;
    stroke: none;

    &.flood-50,
    &.flood-100 {
      animation: .75s ease-in-out wave-effect infinite;
    }

    &.flood-transparent {
      fill: none;
      stroke-width: 0.75px;
      stroke: #eee;
    }
  }

  &.levee {
    stroke: @levee;

    &.google {
      stroke-width: 2.5px;
    }
  }

  &.parcels {
    stroke-width: 0.5px;
    fill-opacity: 0.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
    stroke: #fff;

    &.faded {
      fill-opacity: 0.2;
    }

    &.no-drop {
      filter: none;
    }

    &.google {
      fill: @google;
    }

    &.fb {
      fill: @facebook;
    }
  }

  &.buildings {
    stroke-width: 0.5px;
    stroke: #fff;
    fill-opacity: 0.2;
  }

  &.timeline {
    opacity: 0;
    animation-fill-mode: forwards;
  }

  &.area {
    stroke: #ccc;
    stroke-width: 3px;
    stroke-dasharray: 3px 5px;
    stroke-linecap: round;
    fill: none;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
  }

  &.roads {
    stroke: #999;
    stroke-opacity: 0.25;
    stroke-width: 2px;
  }

  &.year {
    opacity: 0;
  }
}

// Marker styles
.leaflet-marker-pane {
  .leaflet-marker-icon {
    min-width: 10px;

    &.timeline {
      min-width: 40px;
      text-align: center;
      border-bottom: 2px solid;

      span {
        opacity: 0;
        animation-fill-mode: backwards;
        color: #aaa;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        font-weight: bold;
        font-size: 15px;
        .gotham();

        &.year-2020 {
          animation-fill-mode: forwards;
        }
      }
    }
  }

  .water-label,
  .place-label {
    .gotham();

    font-weight: 500;
    line-height: 17px;
    height: 17px;
    font-size: 14px;
    text-align: center;
    color: #ddd;
    top: 1.1px;

    &.special {
      color: #fff;
    }

    @media @mobile {
      line-height: 15px;
      height: 15px;
      font-size: 12px;
    }
  }

  .place-label {
    .knockout();

    font-size: 18px;
    color: #aaa;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .water-label {
    text-shadow: 0 0 2px #000;
    color: #999;
    font-family: "Georgia", serif;
    font-style: italic;
    text-align: center;
    width: unset;
    font-size: 18px;
    line-height: 20px;

    @media @mobile {
      font-size: 12px;
    }
  }

  .highway-shield {
    background-image: url(./assets/synced/images/shield.svg);
    background-repeat: no-repeat;
    color: #666;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
  }

  text.curve {
    .knockout();

    font-size: 140px;
    fill: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0);
    text-shadow: 
      0 4px 2px #000,
      0 0 20px @google,
      0 0 20px @google,
      0 0 20px @google;
    letter-spacing: 5px;
  }

  .facebook > svg > text.curve {
    font-size: 100px !important;
    text-shadow: 
      0 4px 2px #000,      
      0 0 20px @facebook,
      0 0 20px @facebook;
  }

  .note {
    .gotham();

    font-weight: 400;
    line-height: 17px;
    height: 17px;
    color: #fff;
    top: 1.1px;
    // font-style: italic;
    font-size: 15px;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;

    &.right {
      text-align: right;
    }

    &.left {
      text-align: left;
    }
  }
}

.animate {
  .active {
    .year {
      animation-name: fade-in;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
    .year-2013 {
      animation-delay: 1s;
    }
    .year-2014 {
      animation-delay: 2s;
    }
    .year-2016 {
      animation-delay: 3s;
    }
    .year-2017 {
      animation-delay: 4s;
    }
    .year-2018 {
      animation-delay: 5s;
    }
    .year-2019 {
      animation-delay: 6s;
    }
    .year-2020 {
      animation-delay: 7s;
    }
  }
}
