@textShadow: 0 0 8px darken(#111, 0.35);

header.splash {
  height: 200vh;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;

  @media @mobile {
    background-attachment: scroll;
  }

  .background {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  div.darken {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    overflow: auto;
    background-image: linear-gradient(
      to bottom,
      fade(black, 40%) calc(~"100% - 300px"),
      transparent
    );
    padding-bottom: 100px;
  }

  .bylines {
    font-size: 80%;
    font-family: @knockout;
    color: #eee;

    // .credits {
    //   padding: 0;
    //   margin: 0 0 20px;
    //   list-style-type: none;
    // }

    // hr {
    //   max-width: 200px;
    //   margin: 0 auto 20px;
    // }
  }

  .chatter {
    .gotham();
    width: 650px;
    max-width: 100%;
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 1.6;
    padding: 26px;
    text-shadow: @textShadow;
    margin-top: 40px;

    @media @mobile {
      margin-top: 0;
    }
  }

  .logo {
    height: 32px;
    margin-bottom: 6px;
  }

  h1 {
    font-size: 40px;
    color: white;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 5px 0;

    @media @mobile {
      font-size: 30px;
      line-height: 1.3;
    }
  }

  p {
    @media @mobile {
      font-size: 14px;
    }
  }
}

.a11y-controls {
  padding: 0 0 11px 0;
  line-height: 1;
  text-align: center;

  @media @mobile-above {
    padding: 20px 0;
  }

  input[type="checkbox"] {
    .sr-only;

    & + label {
      .gotham();
      color: @gray-light;
      cursor: pointer;
      font-size: 12px;
      font-style: italic;
      padding: 8px;
    }

    &:focus + label,
    label:focus {
      outline: 1px solid @gray-intermediate;
    }

    & + label::after {
      font-style: normal;
      display: inline-block;
      content: "✘";
      margin-left: 8px;
      width: 1.2em;
      height: 1.2em;
      border-radius: 2px;
      line-height: 1.2em;
      color: @gray-intermediate;
      background: @gray-dark;
      cursor: pointer;
      border: 1px solid darken(@gray-medium, 15%);
    }

    &:checked + label::after {
      // Because green looks a little weird here
      background: @gray-intermediate;
      content: "✔";
      color: @gray-dark;
      border-color: transparent;
    }
  }
}

.fixed {
  position: fixed;
  bottom: 30px;
  right: 0;
  z-index: 100;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.5);

  input[type="checkbox"] {
    &:checked + label::after {
      background: @bay-blue-medium;
      color: @off-white;
    }
  }
}

.hidden {
  visibility: hidden;
}
