<section class="image slide align-<%= slide.align || "right" %> <%= slide.classes %>" id="<%= slide.id %>" data-type="image">
  <img
    class="backdrop"
    data-src="./assets/synced/images/<%= slide.image %>"
    alt=""
    style="<%= t.style({
      "object-fit": slide.contain ? "contain" : false,
      "object-position": slide.anchor
    }) %>"
  >
  <% if (slide.inset) { %>
  <img class="inset" src="./assets/synced/<%= slide.inset%>" alt="">
  <% } %>
  <%= t.include("partials/_text.html", { slide }) %>
</section>