<section class="image slide align-<%= slide.align || "right" %> <%= slide.classes %>" id="<%= slide.id %>" data-type="longText" data-num="<%= slide.numImages%>">
  <img
    id="slide-backdrop"
    src="./assets/synced/<%= slide.image %>"
    class="backdrop"
    alt=""
    style="<%= t.style({
      "object-fit": slide.contain ? "contain" : false,
      "object-position": slide.anchor
    }) %>"
  >
  <% if (slide.inset) { %>
  <img class="inset" src="./assets/synced/<%= slide.inset%>" alt="">
  <% } %>
  <div class="text">
    <div class="content">
      <%= t.renderMarkdown(slide.text) %>
    </div>
    <% if (slide.caption) { %>
    <div class="caption">
      <span class="sr-only">Caption:</span> <%= slide.caption %>
    </div>
    <% } %>
  </div>
</section>