<!doctype html>
<%
var doc = grunt.data.archieml.story;
var renderMarkdownText = text => t.renderMarkdown(text).replace(/<\/?p>/g, "");
var project = Object.assign({}, grunt.data.json.project, doc.social);
%>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", { project }) %>
    <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  </head>
  <body>

    <main class="sequence">
        <div
    id="base-map"
    class="backdrop"
    alt=""
    style="z-index:-1"
      >
    </div>
      <%= t.include("_header.html", {doc}) %>
      <%= t.include("_svgFilters.html", {doc}) %>
      <%
        doc.sequence.forEach(function(slide) {
          if (slide.type == "skip") return;
          print(t.include(`_${slide.type || "image"}.html`, { slide }));
        });
      %>
      <div class="autoplay">
        <input id="video-play" type="checkbox" checked>
        <label for="video-play" aria-label="autoplay video" title="Toggle autoplay">
          Autoplay video
        </label>
      </div>
    </main>

    <%= t.include("partials/_footer.html", {doc, renderMarkdownText}) %>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
